# Node.js Dependecies
node_modules/

#Build Output
dist/
build/
public/css/*.css
*.log

# Tailwind output
*.css.map

# macOS system files
.DS_Store

# window system files
Thumb.db

# editor settings
.vscode/
.zed/
*.sublime-project
*.sublime-workspace

#environment files
.env
.env.local